body{
    font-family: 'Google Sans', sans-serif;
    padding: 120px
}

.topBar{
    align-items: left;
    text-align: left;
}

.promo-box {
  display: flex;
  justify-content: space-between;
}

.promos {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 0;
  background-color: #f4f6f8;
  border-radius: 10px;
  height: 500px;
}

.promos img {
  max-width: 600px;
  max-height: 300px;
  border-radius: 10px;
  height: auto;
}

.promos h1 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.promos p {
  font-size: 16px;
  color: #555;
}


@media (max-width: 1024px) {

}

/* Smartphone view (up to 600px) */
@media (max-width: 600px) {

}