<!--Reference from https://biologica.com/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/coffeeCupIcon.ico">
    <link rel="stylesheet/less" type="text/css" href="../static/css/styles.less" />
    <title>Sunbucks</title>
</head>

<body>
    <div class="topnav">
        <a href="home.html" class="navIcon">Sunbucks</a>
        <div class="splitDiv">
            <div class="rightBox" style="display: inline-block; vertical-align: middle;">
                <a href="#" class="rightBoxFont">Supliments</a>
                <a href="#" class="rightBoxFont">About</a>
                <a href="#" class="rightBoxFont">Find Us</a>
            </div>
        </div>
    </div>

    <div class="mTextBox">
        <div class="heroPromo">
            <div class="promoGrid">
                <a class="promoCard" href="#">
                    <h3 class="promoCardTitle">Energy Blend</h3>
                    <p class="promoCardText">Natural boost to keep you going.</p>
                    <span class="promoCTA">Shop Now</span>
                </a>
                <a class="promoCard" id="promo2" href="#">
                    <h3 class="promoCardTitle">Focus Formula</h3>
                    <p class="promoCardText">Stay sharp through your busiest hours.</p>
                    <span class="promoCTA">Shop Now</span>
                </a>
                <a class="promoCard" href="#">
                    <h3 class="promoCardTitle">Wellness Vitamins</h3>
                    <p class="promoCardText">Daily support for overall wellbeing.</p>
                    <span class="promoCTA">Shop Now</span>
                </a>
            </div>
        </div>
        <h1 class="mTextBoxBig">Grab yourself a blend</h1>
        <p class="mTextBoxMed">You don't know that you need suplements till you start using them.</p> 

    <div class="buttonBox">
        <a href="#" class="buttonBackground">Have a look around</a>
    </div>
    </div>
    <footer class="siteFooter">
        <div class="footerBrand">Sunbucks</div>
        <div class="footerLinks">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Contact</a>
        </div>
    </footer>
<script src="../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/less" ></script>
</body>
</html>
